{% extends 'base.html' %}
{% load staticfiles %}

{% block menu %}
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link" href="{% url 'index' %}">Produtos</a>
                    <a class="mdl-navigation__link" href="{% url 'vendas' %}">Vendas</a>
                    <a class="mdl-navigation__link" href="{% url 'fornecedores' %}">Fornecedores</a>
                    <a class="mdl-navigation__link is-active" href="{% url 'clientes' %}">Clientes</a>
                    <a class="mdl-navigation__link" href="{% url 'entrar' %}">Login</a>
                    <a class="mdl-navigation__link" href="{% url 'sair' %}">sair</a>
                </nav>
{% endblock %}

{% block conteudo %}
  <form class="ui form" action="" method="post" id="form" role="form">
  {% csrf_token %}
    <div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="nome">
                <input class="mdl-textfield__input" type="text" id="sample3" name="nome">
                <label class="mdl-textfield__label" for="sample3">Nome</label>
            </div><br>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="username">
                <input class="mdl-textfield__input" type="text" id="sample4" name="username">
                <label class="mdl-textfield__label" for="sample4">Username</label>
            </div><br>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="password">
                <input class="mdl-textfield__input" type="password" id="sample4" name="password">
                <label class="mdl-textfield__label" for="sample4">Password</label>
            </div><br>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="email">
                <input class="mdl-textfield__input" id="sample4" type="email" name="email" id="email" size="30" maxlength="45">
                <label class="mdl-textfield__label" for="sample4">Email</label>
            </div><br>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
              Adicionar
            </button>

    </div>
  </form>

{% endblock %}
